nav {
  border: 1px black solid;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.a-nav {
  text-decoration: none;
  color: brown;
}

a {
  cursor: pointer;
}
